name: Pylint

on: [push]

jobs:
  linter:
    permissions:
        checks: write
        pull-requests: write
        contents: read  
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - uses: smelly-python/smell-my-pr@main
      with: 
          github-token: ${{secrets.GITHUB_TOKEN}}
          command: pipenv run smelly-python -d src
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
